@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Avestan&family=Noto+Serif+Georgian:wght@300&display=swap');

/* ------------------------------------------- Global style */
body {
    background-color: rgb(255, 255, 255);
    font-family: "Noto Sans Avestan", sans-serif;
    color: #000000;
    text-align: center;
}

/* ------------------------------------------- Heading style */
.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* ------------------------------------------- game-area */
.game-area {
    background-color: #867a7a;
    width: 950px;
    height: 125vh;
    max-height: 980px;
    max-width: 85%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* ------------------------------------------- All Buttons */
.btn {
    width: 220px;
    height: 60px;
    font-family: "Helvetica", sans-serif;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 8px solid;
    width: 110px;
    height: 100px;
    font-size: 1.2rem;
    margin: 0 30px;
    transition: all 0.5s;
    font-weight: bold;
}

.btn--big::after {
	content: attr(data-type);
	font-size: 1rem;
	color: #445361;
	position: relative;
	left: -0.5em;
}

/* ------------------------------------------- Buttons style */

.btn--brown {
    border-color: rgb(185, 138, 49);
    color: rgb(185, 138, 49);
}

.btn--brown:active,
.btn--brown:hover {
    background-color: rgb(73, 45, 11);
    color: white;
}

.btn--grey {
    border-color: rgb(209, 206, 202);
    color: rgb(209, 206, 202);
}

.btn--grey:active,
.btn--grey:hover {
    background-color: rgb(59, 58, 56);
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

/* ------------------------------------------- Choice-area */
.choices {
    margin-bottom: 150px;
    width: 100%;
    height: 10px;
    display: inline-block;
}

/* ------------------------------------------- Player and Computer Choices  */
#your-choice {
	width: 25%;
	float: left;
	margin-left: 15%;
	margin-top: 25px;
	border-radius: 15%;
    background-color: white;
    border: 6px solid;
	height: 240px;
}

#opponent-choice {
	width: 25%;
	height: 240px;
	float: right;
	margin-right: 15%;
	margin-top: 25px;
	border-radius: 15%;
    background-color: white;
    border: 6px solid;
}

/* ------------------------------------------- moves-area */
.move{
	margin-top: 120px;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
  }

.movesleft {
	text-align: center;
}

/* ------------------------------------------- score-area */
  .score-area{
	width: 50vw;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
  }
  
  .player-count,.computer-count{
    position: relative;
    font-size: 2.0rem;
    margin: 10px;
  }

  /* ---------------------------------------------- Results */
.result {
    margin-top: 100px;
    font-size: 1.2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

/* ---------------------------------------------- Restart Button */
.reload {
    position: relative;
    padding-top: 10px;
    border-radius: 15%;
    background-color: white;
    border: 8px solid;
    width: 120px;
    height: 80px;
    font-size: 1.0rem;
    margin: 0 30px;
    font-weight: bold;
}

#restart {
    padding-top: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

/* ------------------------------------------- Rules-area */
.rules-area {
    padding-top: 5px;
}

.rules {
    position: relative;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 1.2rem;
}

  /* ------------------------------------------- Media Query 1200px */
  @media screen and (max-width: 1200px) {

    /* ------------------------------------------- score-area */
    .score-area {
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
    }

    .player-count,
    .computer-count {
        position: relative;
        font-size: 2.0rem;
        width: 50%;
        margin: 10px;

        text-align: center;
        font-size: 2rem;
        font-weight: bold;

    }

    /* ------------------------------------------- game-area */
    .game-area {
        height: 170vh;
        max-height: 900px;

    }
}

  /* ------------------------------------------- Media Query 1050px */
  @media screen and (max-width: 1050px) {
    .score-area {
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
    }

    .player-count,
    .computer-count {
        position: relative;
        font-size: 2.0rem;
        width: 50%;
        margin: 10px;

        text-align: center;
        font-size: 2rem;
        font-weight: bold;

    }

    /* ------------------------------------------- game-area */
    .game-area {
        height: 200vh;
        max-height: 950px;

    }
  }

    /* ------------------------------------------- Media Query 980px */
    @media screen and (max-width: 980px) {
        .score-area {
            width: 80%;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            position: absolute;
        }
    
        .player-count,
        .computer-count {
            position: relative;
            font-size: 2.0rem;
            width: 50%;
            margin: 10px;
    
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
    
        }
    
        /* ------------------------------------------- game-area */
        .game-area {
            height: 200vh;
            max-height: 1100px;
    
        }
      }

          /* ------------------------------------------- Media Query 400px */
    @media screen and (max-width: 400px) {
        .score-area {
            width: 80%;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            position: absolute;
        }
    
        .player-count,
        .computer-count {
            position: relative;
            font-size: 2.0rem;
            width: 50%;
            margin: 10px;
    
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
    
        }
    
        /* ------------------------------------------- game-area */
        .game-area {
            height: 250vh;
            max-height: 1500px;
    
        }

        /* ------------------------------------------- Player and Computer Choices  */
        #your-choice {
            width: 25%;
            float: left;

            height: 140px;
        }

        #opponent-choice {
            width: 25%;
            float: right;

            height: 140px;
        }

        .move {
            margin-top: 10px;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
        }
    }